################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AssaultCubeTrainerInternal/.vs/AssaultCubeTrainerInternal/v17/Browse.VC.opendb
/csgoTrainerInternal/.vs/csgoTrainerInternal/v17/Browse.VC.opendb
